<!-- <div class="card" style="width: 18rem; position: relative;">
    <div class="card-body">
      <ng-container *ngFor="let placeholder of placeholders">
        <div class="form-group">
          <input class="form-control mb-2" type="text" [placeholder]="placeholder">
        </div>
      </ng-container>
      <button type="button" class="btn btn-primary position-absolute bottom-0 end-0 m-3">Add</button>
    </div>
  </div> -->

  <div class="card" style="width: 18rem; position: relative;">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col">
            <input class="form-control mb-2" type="text" placeholder="Business" [(ngModel)]="business">
          </div>
          <div class="form-group col">
            <input class="form-control mb-2" type="text" placeholder="Name" [(ngModel)]="name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input class="form-control mb-2" type="text" placeholder="Account" [(ngModel)]="account">
          </div>
          <div class="form-group col">
            <input class="form-control mb-2" type="date" placeholder="Date" [(ngModel)]="date">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input class="form-control mb-2" type="text" placeholder="Type" [(ngModel)]="type">
          </div>
          <div class="form-group col">
            <input class="form-control mb-2" type="number" step="0.01" placeholder="Amount" [(ngModel)]="amount">
          </div>
        </div>
        <hr>
        <button type="button" class="btn btn-primary" (click)="addTransaction()">Add</button>
      </form>
    </div>
  </div>
  
